body {
    background-color: white;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    margin: 0;
    flex-direction: column;
}

.div-container {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 90%; /*makes it responsive*/
    padding: 0 10px; /* Add padding to ensure space on small devices */
}

#quote {
    position: relative;
    background: black;
    color: white;
    border-radius: 0.4em;
    padding: 20px;
    box-sizing: border-box; /* Ensure padding is included in the total width */
    max-width: 500px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    width: 90%; /*makes it responsive*/
}

#quote::before {
    content: '';
    position: absolute;
    bottom: -25px;
    left: 85%;
    width: 0;
    height: 0;
    border: 15px solid transparent;
    border-top-color: black;
    z-index: 1;
}

button {
    border: 0px solid transparent;
    box-shadow: 0px 0px 0px transparent;
    border-radius: 0.25rem;
    background: black;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background 0.3s ease, box-shadow 0.3s ease;
}

button:hover {
    background-color: #363434FF;
    box-shadow: 0 0 10px 5px yellow;
}

.icon-white {
    color: white;
}

#words {
    font-family: "Lato", sans-serif;
}
.green-font {
    color: #2bc28c;
}
h1 {
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
}
#heading {
    text-align: center;
    font-size: 70px;
    font-weight: 900;
    font-family: "Lato", sans-serif;
    max-width: 630px;
    line-height: 1;
    margin: 0px;
    width: 90%; /*makes it responsive*/
    padding: 10px; /* Add padding for better readability on small devices */
}

#thin-text {
    text-align: center;
    max-width: 500px;
    font-size: 30px;
    margin: 20px;
    color: #6a6e72;
}

/* Media queries for responsiveness------------------------------------------ */
@media (min-width: 300px) {
    #heading {
        font-size: 50px; /* Adjust font size for larger screens */
    }

    #quote {
        min-width: 200px;
    }
    .div-container {
        flex-direction: row; /* Arrange the divs horizontally on larger screens */
        justify-content: space-around;
        padding: 0px 10px;
    }
}