body {
    background-color: white;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    margin: 0;
    flex-direction: column;
}

.div-container {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 90%; /*makes it responsive*/
    padding: 0 10px; /* Add padding to ensure space on small devices */
}

#quote {
    position: relative;
    background: black;
    color: white;
    border-radius: 0.4em;
    padding: 20px;
    box-sizing: border-box; /* Ensure padding is included in the total width */
    max-width: 500px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    width: 90%; /*makes it responsive*/
}

#quote::before {
    content: '';
    position: absolute;
    bottom: -25px;
    left: 85%;
    width: 0;
    height: 0;
    border: 15px solid transparent;
    border-top-color: black;
    z-index: 1;
}

.icon-white {
    color: white;
}

#words {
    font-family: "Lato", sans-serif;
}
.green-font {
    color: #2bc28c;
}
h1 {
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
}
#heading {
    text-align: center;
    font-size: 70px;
    font-weight: 900;
    font-family: "Lato", sans-serif;
    max-width: 630px;
    line-height: 1;
    margin: 0px;
    width: 90%; /*makes it responsive*/
    padding: 10px; /* Add padding for better readability on small devices */
}

#thin-text {
    text-align: center;
    max-width: 500px;
    font-size: 30px;
    margin: 20px;
    color: #6a6e72;
}

/* Media queries for responsiveness------------------------------------------ */
@media (min-width: 300px) {
    #heading {
        font-size: 50px; /* Adjust font size for larger screens */
    }

    #quote {
        min-width: 200px;
    }
    .div-container {
        flex-direction: row; /* Arrange the divs horizontally on larger screens */
        justify-content: space-around;
        padding: 0px 10px;
    }
}


/*Searchbar----------------------------------------------------------*/

.searchbar-container {
    position: relative;
    display: flex;
    align-items: center;
    width: 80%;
    max-width: 800px;
    margin-bottom: 20px; /* Add some spacing */
    border-radius: 999px;
    border: 2px solid;
    padding: 0 2px;
    background: linear-gradient(90deg, #ff0000, #ff9900, #ffff00, #33cc33, #00ffff, #0066ff, #cc33ff, #ff3399);
    background-size: 200% 200%; /* Scale the background to twice the size */
    animation: 10s linear 0s infinite normal none running rainbow-background;
}



#rainbow-border {
    margin: 4px;
    width: 100%;
}

#form-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 2px;
    background-color: white;
    border-radius: 999px;
    box-sizing: border-box;
}

#search-input {
    display: flex;
    /*flex: 1;*/
    /*margin-right: 10px;*/
    border: 10px;
    padding: 5px;
    border-radius: 20px;
    font-size: 18px;
    width: 100%;
    outline: none;
    background-color: white;
}

button {
    display: flex;
    margin: 2px 3px;
    flex-shrink: 0;
    border: 0px solid transparent;
    box-shadow: 0px 0px 0px transparent;
    border-radius: 0.25rem;
    background: black;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /*transition: background 0.3s ease, box-shadow 0.3s ease;*/
}

/*button:hover {*/
/*    background-color: #363434FF;*/
/*    box-shadow: 0 0 10px 5px yellow;*/
/*}*/

/*Menu slide-out ----------------------------------------------------------*/
.menu-items-container {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    margin-top: 10px;
    background-color: transparent; /* Always transparent */
    z-index: 10; /* make it appear on top of other elements */
    overflow: hidden;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.5s ease-out;
    pointer-events: none; /* Disable pointer events by default */
}

.menu-items-container.open {
    max-height: 500px; /* Expand the container */
    transform: scaleY(1);
    pointer-events: all; /* Enable pointer events when open */
}

.menu-item {
    padding: 10px 20px;
    margin: 9px 0;
    background-color: transparent; /* Initially transparent */
    border-radius: 20px;
    cursor: pointer;
    opacity: 0;
    position: relative;
    top: 10px;
    transition: opacity 0.5s ease-out, background-color 0.3s ease;
}


.menu-items-container.open .menu-item {
    opacity: 1;
    top: 0px;
    background-color: #e6dfdf; /* Background color when open */
    transition-delay: var(--fade-in-delay);
}

#menu-items-container.open .menu-item:hover {
    background-color: #8a8484; /* Background color when hovered */
    transition-delay: 0s;
}

/*define animation named rainbow-background*/
@keyframes rainbow-background {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}