<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<bs-landing-brainstorm>
    <bs-card id="brainstorm-container" size="medium">

    </bs-card>
    <form id="form">
        <!--?lit$7504143006$-->
        <div id="challenge-container">
            <bs-rainbow-border id="rainbow-border"></bs-rainbow-border>
            <bs-form-item id="challenge-form-item" size="huge" invert="" fill="">
                <input id="challenge-input" required="" type="text" autocomplete="off" name="challenge" slot="input" placeholder="Describe your challenge...">
            </bs-form-item>
            <bs-form-item id="brainstorm-form-item" size="large">
                <button slot="input" type="submit">
                    <!--?lit$7504143006$-->
                    <bs-text size="medium"><!--?lit$7504143006$-->Brainstorm</bs-text>
                    <bs-icon fill=""></bs-icon>

                </button>
            </bs-form-item>
            <!--?lit$7504143006$-->
        </div>
    </form>
</bs-landing-brainstorm>
</body>
</html>